.insitute-container{
    width: 80%;
    margin: 50px auto;  
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
}
.courses-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}